
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title Goes Here</title>
</head>
<body>
    <h1>
        Hello, World   
    </h1>

    <form action="/submit" method="post">
    <label for="team_number">Team Number:</label>
    <input type="text" id="team_number" name="team_number" required><br><br>


    <label for="name_of_team">name of team:</label>
    <input type="text" id="name_of_team" name="name_of_team"><br><br>

    <label for="drive">Drive Type: </label>
    <select name="drive" id="drive">
    <option value="swerve">Swerve</option>
    <option value="tank">Tank</option>
    <option value="other">Other</option>
    </select>
    <br><br>

    <input type="submit" value="Submit">
</form>

</select>


</body>
</html>
